<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Medication</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.0/css/bootstrap.min.css">
</head>
<body>
  <div class="container mt-5">
    <% if (typeof error !== 'undefined' && error) { %>
        <div class="alert alert-danger" role="alert">
          <%= error %>
        </div>
      <% } %>
    <h1>Add Medication</h1>
    <form action="/add_medication" method="POST" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name" required>
      </div>
     

      <div class="mb-3">
        <label for="prescriptionRequired" class="form-label">Prescription Required</label>
        <select class="form-select" id="prescriptionRequired" name="prescriptionRequired" required>
          <option value="prescription">Prescription</option>
          <option value="non-prescription">Non-Prescription / Essentials</option>
        </select>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Image</label>
        <input type="file" class="form-control" id="image" name="image">
      </div>

      <div class="mb-3">
        <label for="name" class="form-label">Description</label>
        <textarea type="text" class="form-control" id="description" name="description" required></textarea>
      </div>

     

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
